.main_content {
  width: calc(100% - #{$sidebar_width});
  height: 100vh;
  float:left;
  .default_content{
    @include flex();
    @include flex_absolute_center();
    @include flex_direction(row);
    img{
      width: 70%;
      max-width: 500px;
    }
  }
  .content_area{
    height: inherit;
  }
  .extra_content{
    display: none;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex();
    @include flex_absolute_center();

    .text_content{
      color:white!important;
      z-index: 200;
      width: 55%;
      @media (max-width: $breakpoint-tablet) {
       width: 80%;
      }

      @media (max-width: $breakpoint-phone) {
        width: 90%;
      }
      text-align: center;
      .title{
        margin-bottom: 11px;
        font-weight: bold;
      }
      .text{
        text-align: justify;
      }
    }

    &:before{
      content:'';
      width: 100%;
      height: 100%;
      background-color:black;
      opacity: 0.5;
      z-index: 100;
      position: absolute;
    }
  }
}